version: '3.8'
services:
  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    container_name: api-gateway
    ports:
      - "8090:8090"
    environment:
      - API_GATEWAY_PORT=8090
      - AUTH_SERVICE_URL=http://auth-service:8080
      - AUTH_GRPC_SERVICE_URL=auth-service:9090
      - EDU_SERVICE_URL=http://edu-service:8081
      - GAME_SERVICE_URL=http://game-service:8083
      - GIN_MODE=debug
    depends_on:
      - auth-service
      - edu-service
      - game-service
    restart: always
    networks:
      - eduplatform-network

  db:
    image: postgres:14
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: eduplatform
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - eduplatform-network

  goose:
    build:
      context: .
      dockerfile: migrations/Dockerfile.goose
    container_name: goose
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./migrations:/migrations
    working_dir: /migrations
    environment:
      GOOSE_DRIVER: postgres
      GOOSE_DBSTRING: "postgres://postgres:password@db:5432/eduplatform?sslmode=disable"
    command: ["up"]
    networks:
      - eduplatform-network

  auth-service:
    build:
      context: ./auth
      dockerfile: Dockerfile
    container_name: auth-service
    env_file:
      - auth/.env
    depends_on:
      db:
        condition: service_healthy
      goose:
        condition: service_completed_successfully
    ports:
      - "8080:8080"
      - "9090:9090"
    environment:
      DB_URL: postgres://postgres:password@db:5432/eduplatform?sslmode=disable
    networks:
      - eduplatform-network

  edu-service:
    build:
      context: ./edu
      dockerfile: Dockerfile
    container_name: edu-service
    env_file:
      - edu/.env
    depends_on:
      auth-service:
        condition: service_started
    ports:
      - "8081:8081"
      - "9091:9091"
    environment:
      AUTH_GRPC_ADDRESS: "auth-service:9090"
      DB_URL: postgres://postgres:password@db:5432/eduplatform?sslmode=disable
    networks:
      - eduplatform-network

  game-service:
    build:
      context: ./game
      dockerfile: Dockerfile
    container_name: game-service
    env_file:
      - game/.env
    depends_on:
      auth-service:
        condition: service_started
    ports:
      - "8083:8083"
    environment:
      AUTH_GRPC_ADDRESS: "auth-service:9090"
      DATABASE_URL: postgres://postgres:password@db:5432/eduplatform?sslmode=disable
    networks:
      - eduplatform-network

networks:
  eduplatform-network:
    driver: bridge
    name: eduplatform-network

volumes:
  pgdata: